<table border="1">
    <thead>
        <th>ID</th>
        <th>Author</th>
        <th>Title</th>
        <th>Publisher</th>
        <th>Year</th>
        <th>Pages</th>
        <th>Language</th>
        <th>Size</th>
        <th>Extension</th>
        <th>Download</th>
    </thead>
    <tbody>
        <% @arr.each do |a| %>
        <tr>
            <td><%= a.book_id %></td>
            <td><%= a.author %></td>
            <td><%= a.title %></td>
            <td><%= a.publisher %></td>
            <td><%= a.year %></td>
            <td><%= a.page %></td>
            <td><%= a.language %></td>
            <td><%= a.size %></td>
            <td><%= a.extension %></td> 
            <td><%= link_to :Download, get_path(:url=>a.action_link,:title=>"#{a.title}.#{a.extension}") %></td>
        </tr>
        <% end %>
    </tbody>
</table>