<%= render 'form' %>
  <table class="table table-bordered">
    <thead>
        <th>ID</th>
        <th>Author</th>
        <th>Title</th>
        <th>Publisher</th>
        <th>Year</th>
        <th>Pages</th>
        <th>Language</th>
        <th>Size</th>
        <th>Extension</th>
        <th>Download</th>  
    </thead>
    <tbody>
        <%= form_tag books_path do  %> 
          <% @arr.each do |book| %>
            <%= fields_for 'books[]', book do |b| %>
              <tr>
                <td>
                  <%= b.hidden_field :book_id, :value => book.book_id %>
                  <%= book.book_id %>
                </td>
                <td>
                  <%= b.hidden_field :author, :value => book.author %>
                  <%= book.author %>
                </td>
                <td>
                  <%= b.hidden_field :title, :value => book.title %> 
                  <%= book.title %>
                </td>
                <td>
                  <%= b.hidden_field :publisher, :value => book.publisher %>
                  <%= book.publisher %>
                </td>
                <td>
                  <%= b.hidden_field :year, :value => book.year %>
                  <%= book.year %>
                </td>
                <td>
                  <%= b.hidden_field :page, :value => book.page %>
                  <%= book.page %>
                </td>
                <td>
                  <%= b.hidden_field :language, :value => book.language %>
                  <%= book.language %>
                </td>
                <td>
                  <%= b.hidden_field :size, :value => book.size %>
                  <%= book.size %>
                </td>
                <td>
                  <%= b.hidden_field :extension, :value => book.extension %>
                  <%= book.extension %>
                </td> 
                <td>
                  <%= b.hidden_field :link, :value => book.link %>
                  <%= check_box_tag 'books[][choose]' %>
                </td>
              </tr>
            <% end %>
          <% end %>
    </tbody>
  </table>
  <%= submit_tag :Download, {  class: "float-right btn btn-primary" } %>
  <% end %>