<table class = "table table-striped">
  <thead>
    <th>Id</th>
    <% if current_user.is_admin? %>
      <th>User Id</th>
    <% end %>
    <th>Author</th>
    <th>Title</th>
    <th>Publisher</th>
    <th>Year</th>
    <th>Pages</th>
    <th>Language</th>
    <th>Size</th>
    <th>Extension</th>
    <th>Link</th>
    <th>Delete</th>
  </thead>
  <tbody>
    <% @book_user.each do |book_user| %>
      <tr>
        <td><%= book_user.book.book_id %></td>
        <% if current_user.is_admin? %>
          <td><%= book_user.user_id %></td>
        <% end %>
        <td><%= book_user.book.author %></td>
        <td><%= book_user.book.title %></td>
        <td><%= book_user.book.publisher %></td>
        <td><%= book_user.book.year %></td>
        <td><%= book_user.book.page %></td>
        <td><%= book_user.book.language %></td>
        <td><%= book_user.book.size %></td>
        <td><%= book_user.book.extension %></td> 
        <td><%= link_to "Link", book_user.book.file.url %></td>
        <td><%= link_to "Delete", search_path(book_user), method: :DELETE, data: {confirm: 'Are you sure?'} %></td>
      </tr>
    <% end %>
  </tbody>
</table>