<div class="container container-devise">
  <div class="row justify-content-md-center">
    <h1>FORGOT YOUR PASSWORD?</h1>
  </div>
  <div class="row justify-content-md-center">
    <div class="col-lg-offset-3 col-lg-6">
      <%= form_for(resource, as: resource_name, url: password_update_path(resource_name), html: { method: :post }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <div class="form-group">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Enter your email"%>
        </div>
        <div class="text-center">
          <%= f.submit "Send me reset password instructions", class: "btn btn-info col-lg-12"  %>
        </div>
      <% end %>
        <div class="text-left">
          <%= render "devise/shared/links" %>
        </div>
    </div>
  </div>
</div>
